body {
  margin: 0;
  padding: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Poppins", sans-serif;
  color: #191919;
}

h1 {
  font-weight: 800;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #191919;
}

.logo {
  font-family: "Poppins", sans-serif;
}

.green {
  border-color: rgb(20, 189, 20);
  background: rgb(141, 240, 141);
}

.red {
  border-color: rgb(255, 0, 0);
  background: rgb(236, 69, 69);
}

/* #e28336 */
